<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.nets.mia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".webview.MiAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"/>
    </application>

</manifest>